<%= form_with url: "/main/test", method: :post, data: {turbo: false} do |f| %>
  <%= for i in 1..@num do %>
      <div class="field" id="type#{i}">
	    <%= f.hidden_field :select, value: false %>
	    <%= f.hidden_field :num, value: @num %>
	    
	    <%= f.label "subject#{i}", "subject#{i}" %>
	    <%= f.text_field "subject#{i}", value: params["subject#{i}"] %>
	    
	    <%= f.label "score#{i}", "score#{i}" %>
	    <%= f.number_field :"score#{i}", in: 0..100, step: 1, value: params["score#{i}"] %>
	    
	    <% if params[:select]=="false" %>
	      <% if params["subject#{i}"].blank? and %>
		<%= f.label "subject#{i}", "subject cant be empty" %>
	      <% end %>
	      <% if params["score#{i}"].blank? %>
		<%= f.label "score#{i}", "score cant be empty" %>
	      <% end %>
	    <% end %>
      <br>
      </div>
  <% end %>
  <%= f.submit "Submit"%>
<% end %>
